<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>top page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css"></link>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<style>
</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-6">
				<h1>Blog edit</h1>
				<p th:text="${msg}" />
				<form class="form-group" method="post" th:object="${blogForm}" th:action="@{/edit}">
					<div class="form-group">
						<input type="hidden" id="blogId" name="blogId" class="form-control" th:value="*{blogId}" />
						<h4>タイトル</h4>
						<input type="text" id="title" name="title" class="form-control" th:value="*{title}" />
						<div th:if="${#fields.hasErrors('*{title}')}" th:errors="*{title}" class="alert alert-danger glyphicon glyphicon-exclamation-sign">error!</div>
					</div>
					<div class="form-group">
						<h4>本文</h4>
						<textarea id="contents" name="contents" rows="10" cols="30" class="form-control" th:text="*{contents}"></textarea>
						<div th:if="${#fields.hasErrors('*{contents}')}" th:errors="*{contents}" class="alert alert-danger glyphicon glyphicon-exclamation-sign">error!</div>
					</div>
					<div class="form-group">

						<h4>投稿日</h4>
						<input type="text" id="postDate" name="postDate" class="form-control" th:value="*{postDate} ? *{#temporals.format(postDate, 'yyyy/MM/dd')} : ''" />
						<div th:if="${#fields.hasErrors('*{postDate}')}" th:errors="*{postDate}" class="alert alert-danger glyphicon glyphicon-exclamation-sign" role="alert">error!</div>
					</div>
					<div class="row">
						<div class="col-xs-10">
							<input type="submit" class="btn btn-primary btn-lg" name="edit" value="投稿" />
							<input type="button" class="btn btn-secondary" onclick="window.location.href='/'" value="一覧に戻る" />
						</div>
						<div class="col-xs-2">
							<input type="submit" class="btn btn-danger" name="delete" value="削除" th:disabled="not *{blogId}" />
						</div>
					</div>
				</form>
				<div class="row">
					<div class="col-md-8 col-lg-8">
						<div class="well well-sm">
							<div>アップロードするファイルを選択して、アップロードボタンを押下してください。</div>
							<br />
							<form id="data_upload_form" enctype="multipart/form-data" method="post">
								<div class="form-group">
									<label>■ファイルパス：</label> <input type="file" id="upload_file" name="upload_file" required="" />
								</div>
								<div class="form-group">
									<input id="data_upload_button" type="submit" value="アップロード" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(function() {
			$("#postDate").datepicker();
		});

		//主処理部
		$(function() {

			// アップロードボタンを押下した
			$("#data_upload_form")
					.submit(
							function(event) {
								// 要素規定の動作をキャンセルする
								event.preventDefault();

								var ajaxUrl = "file/upload?";
								// ファイル種類
								ajaxUrl += "filetype="
										+ encodeURIComponent($("#upload_file")[0].files[0].name);

								alert(ajaxUrl);

								if (window.FormData) {
									var formData = new FormData($(this)[0]);

									$.ajax({
										type : "POST", // HTTP通信の種類
										url : ajaxUrl, // リクエストを送信する先のURL
										dataType : "text", // サーバーから返されるデータの型
										data : formData, // サーバーに送信するデータ
										processData : false,
										contentType : false,
									}).done(function(data) { // Ajax通信が成功した時の処理
										alert("アップロードが完了しました。");
									}).fail(
											function(XMLHttpRequest,
													textStatus, errorThrown) { // Ajax通信が失敗した時の処理
												alert("アップロードが失敗しました。");
											});
								} else {
									alert("アップロードに対応できていないブラウザです。");
								}
							});
		});
	</script>


</body>
</html>